@model List<Rezervation>

@{
    ViewData["Title"] = "Home Page";
}

<div class="row col-md-4">
    @foreach (var item in Model)
    {
     <div>
         @foreach (var g in item.Guests)
         {<div class="row">
                 @g.Name @g.SurName <br />
             </div>
         }
         Geliş Tarihi: @item.Arrivaldate.Value.Date.ToString("dd-MM-yyyy")<br />
         Çıkış Tarihi: @item.DepartureDate.Value.Date.ToString("dd-MM-yyyy")<br />
     </div>

    @foreach (var p in item.Payments)
    {
        @p.TotalPrice.ToString("C")
    }
    }
</div>

<br />
<br />

<div class="row col-md-2">
    <table class="table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>Arrival Date</th>
                <th>Departure Date</th>
                <th>Total Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var RezList in Model)
            {
                <tr>
                    @foreach (var gst in RezList.Guests)
                    {
                        <td>@gst.Name</td>
                        <td>@gst.SurName</td>
                    }

                    <td>@RezList.Arrivaldate.Value.ToShortDateString()</td>
                    <td>@RezList.DepartureDate.Value.ToShortDateString()</td>

                    @foreach (var py in RezList.Payments)
                    {
                        <td>@py.TotalPrice.ToString("C")</td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>

