@model IEnumerable<Rezervation>

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">

    @foreach (var item in Model)
    {<div class="col-md-4 text-center table-bordered bg-info">
            
    Rezervasyon No: @item.Id <br />
    
    
    @foreach (var gu in item.Guests)
            {
                <div class="">
                    Adı Soyadı: @gu.Name @gu.SurName
                </div>
            }
            <div>
                Oda Numarası: @item.RoomNo <br />
                Geliş Tarihi: @item.Arrivaldate.Value.Date.ToString("dd-MM-yyyy")<br />
                Çıkış Tarihi: @item.DepartureDate.Value.Date.ToString("dd-MM-yyyy")<br />
            </div>

            @foreach (var gu in item.Guests)
            {
                @foreach (var pa in gu.Payments)
                {
                    <div>
                        Toplam Tutar: @pa.TotalPrice.ToString("C")
                    </div>
                }

            }
        </div>
    }

</div>
<div class="row col-md-2 text-center table-bordered bg-success center-block">
    <a asp-controller="Rezervation" asp-action="List">For Detail List</a>
</div>

