@model IEnumerable<Rezervation>

@{
    ViewData["Title"] = "Home Page";
}
<h3>Home Index</h3>
<p>Gelecek Olan Misafirler</p>
<br />
<a asp-controller="Rezervation" asp-action="List" class="btn btn-info btn-sm">For Detail List</a>
<br />


@foreach (var item in Model)
{
    @if (item.Arrivaldate.Date >= DateTime.Now)
    {
        <br />
        <div class="row">
            <div class=" text-center bg-success">
                Rezervasyon No: @item.Id <br />

                @foreach (var gu in item.Guests)
                {
                    <div class="">
                        Adı Soyadı: @gu.Name @gu.SurName
                    </div>
                }
                <div>
                    Oda Numarası: @item.RoomNo <br />
                    Geliş Tarihi: @item.Arrivaldate.Date.ToString("dd-MM-yyyy")<br />
                    Çıkış Tarihi: @item.DepartureDate.Date.ToString("dd-MM-yyyy")<br />
                </div>
               
                    @foreach (var pa in item.Payments)
                    {
                        <div>
                            Toplam Tutar: @pa.TotalPrice.ToString("C")
                        </div>
                    }
                
            </div>
        </div>
    }
}

<br />


