@model Tuple<Rezervation,Guest,Payment>

@{
    ViewData["Title"] = "Create";
}

<form method="post" asp-action="Create">
    <input type="hidden" name="Rezervation.Id" />
    <p>
        <div>
            <label asp-for="@Model.Item2.Name">Name : </label>
            <input asp-for="@Model.Item2.Name" />
        </div>
        <div>
            <label asp-for="@Model.Item2.SurName">Surname : </label>
            <input asp-for="@Model.Item2.SurName" />
        </div>

        <div>
            <label asp-for="@Model.Item1.Arrivaldate">Geliş Zamanı : </label>
            <input asp-for="@Model.Item1.Arrivaldate" />
        </div>
        <div>
            <label asp-for="@Model.Item1.DepartureDate">Çıkış Zamanı : </label>
            <input asp-for="@Model.Item1.DepartureDate" />
        </div>
        <div>
            <label asp-for="@Model.Item1.RoomNo">Oda No : </label>
            <input asp-for="@Model.Item1.RoomNo" />
        </div>
        <div>
            <label asp-for="@Model.Item3.TotalPrice">Toplam Tutar : </label>
            <input asp-for="@Model.Item3.TotalPrice" />
        </div>
    </p>
    <button type="submit">Submit</button>
</form>



<hr />




@*<h2>Create</h2>

    <h4>Rezervation</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Arrivaldate" class="control-label"></label>
                    <input asp-for="Arrivaldate" class="form-control" />
                    <span asp-validation-for="Arrivaldate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DepartureDate" class="control-label"></label>
                    <input asp-for="DepartureDate" class="form-control" />
                    <span asp-validation-for="DepartureDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RoomNo" class="control-label"></label>
                    <input asp-for="RoomNo" class="form-control" />
                    <span asp-validation-for="RoomNo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Status" class="control-label"></label>
                    <input asp-for="Status" class="form-control" />
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TatolDays" class="control-label"></label>
                    <input asp-for="TatolDays" class="form-control" />
                    <span asp-validation-for="TatolDays" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TotalChildren" class="control-label"></label>
                    <input asp-for="TotalChildren" class="form-control" />
                    <span asp-validation-for="TotalChildren" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TotalChildrenWithPrice" class="control-label"></label>
                    <input asp-for="TotalChildrenWithPrice" class="form-control" />
                    <span asp-validation-for="TotalChildrenWithPrice" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TotalAdult" class="control-label"></label>
                    <input asp-for="TotalAdult" class="form-control" />
                    <span asp-validation-for="TotalAdult" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TotalPersons" class="control-label"></label>
                    <input asp-for="TotalPersons" class="form-control" />
                    <span asp-validation-for="TotalPersons" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AccommodationType" class="control-label"></label>
                    <input asp-for="AccommodationType" class="form-control" />
                    <span asp-validation-for="AccommodationType" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BoardType" class="control-label"></label>
                    <input asp-for="BoardType" class="form-control" />
                    <span asp-validation-for="BoardType" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Breakfast" class="control-label"></label>
                    <input asp-for="Breakfast" class="form-control" />
                    <span asp-validation-for="Breakfast" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Lunch" class="control-label"></label>
                    <input asp-for="Lunch" class="form-control" />
                    <span asp-validation-for="Lunch" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Dinner" class="control-label"></label>
                    <input asp-for="Dinner" class="form-control" />
                    <span asp-validation-for="Dinner" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="InsertDateTime" class="control-label"></label>
                    <input asp-for="InsertDateTime" class="form-control" />
                    <span asp-validation-for="InsertDateTime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UpdateDateTime" class="control-label"></label>
                    <input asp-for="UpdateDateTime" class="form-control" />
                    <span asp-validation-for="UpdateDateTime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>*@

<div>
    <a asp-action="Index">Back to List</a>
</div>

