@*@model Tuple<Rezervation,Guest,Payment>*@
@model Payment


@{
    ViewData["Title"] = "Create";
}




<div class="row">
    <form method="post" asp-action="Create">
        <div class="col-md-2">            
            <label asp-for="Guest.Rezervation.Arrivaldate">Geliş Zamanı :</label>
            <input asp-for="Guest.Rezervation.Arrivaldate" /> <br />

            <label asp-for="Guest.Rezervation.DepartureDate">Çıkış Zamanı :</label>
            <input asp-for="Guest.Rezervation.DepartureDate" /> <br />

            <label asp-for="Guest.Rezervation.RoomNo">Oda Numarası :</label>
            <input asp-for="Guest.Rezervation.RoomNo" /> <br />
        </div>
        <div class="col-md-2">
            <label asp-for="Guest.Name">Adı :</label>
            <input asp-for="Guest.Name" /> <br />
            <label asp-for="Guest.SurName">Soyadı :</label>
            <input asp-for="Guest.SurName" /><br />
            <label asp-for="Guest.Phone">Telefonu :</label>
            <input asp-for="Guest.Phone" /><br />
            <label asp-for="Guest.Email">Email :</label>
            <input asp-for="Guest.Email" /><br />
            <label asp-for="Guest.RezervationNote">Rezervasyon Notu :</label>
            <input asp-for="Guest.RezervationNote" /><br />
        </div>
        <div class="col-md-2">
            <label asp-for="TotalPrice">Toplam Tutar :</label>
            <input asp-for="TotalPrice" /><br />
        </div>
        <div class="col-md-4 text-center">
            <button type="submit">Submit</button>
        </div>
    </form>
</div>


@*<form method="post" asp-action="Create">
        <p>
            @foreach (var item in Model)
            {
            <div class="row table-bordered">

                @foreach (var guest in item.Guests)
                {
                    <label asp-for="@guest.Name">Name</label>
                    <input asp-for="@guest.Name" />

                    <label asp-for="@guest.SurName">SurName</label>
                    <input asp-for="@guest.SurName" />
                }
                <label asp-for="@item.RoomNo">Room No</label>
                <input asp-for="@item.RoomNo" />

                <label asp-for="@item.Arrivaldate">Arrivaldate</label>
                <input asp-for="@item.Arrivaldate" />

                <label asp-for="@item.DepartureDate">DepartureDate</label>
                <input asp-for="@item.DepartureDate" />


                @foreach (var payment in item.Payments)
                {
                    <label asp-for="@payment.TotalPrice">Total Price</label>
                    <input asp-for="@payment.TotalPrice" />

                }
            </div>
            }
        </p>
        <button type="submit">Submit</button>
    </form>*@







@*<h2>Create</h2>

    <h4>Rezervation</h4>*@

@*<div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Arrivaldate" class="control-label"></label>
                    <input asp-for="Arrivaldate" class="form-control" />
                    <span asp-validation-for="Arrivaldate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DepartureDate" class="control-label"></label>
                    <input asp-for="DepartureDate" class="form-control" />
                    <span asp-validation-for="DepartureDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RoomNo" class="control-label"></label>
                    <input asp-for="RoomNo" class="form-control" />
                    <span asp-validation-for="RoomNo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Status" class="control-label"></label>
                    <input asp-for="Status" class="form-control" />
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TatolDays" class="control-label"></label>
                    <input asp-for="TatolDays" class="form-control" />
                    <span asp-validation-for="TatolDays" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TotalChildren" class="control-label"></label>
                    <input asp-for="TotalChildren" class="form-control" />
                    <span asp-validation-for="TotalChildren" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TotalChildrenWithPrice" class="control-label"></label>
                    <input asp-for="TotalChildrenWithPrice" class="form-control" />
                    <span asp-validation-for="TotalChildrenWithPrice" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TotalAdult" class="control-label"></label>
                    <input asp-for="TotalAdult" class="form-control" />
                    <span asp-validation-for="TotalAdult" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TotalPersons" class="control-label"></label>
                    <input asp-for="TotalPersons" class="form-control" />
                    <span asp-validation-for="TotalPersons" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AccommodationType" class="control-label"></label>
                    <input asp-for="AccommodationType" class="form-control" />
                    <span asp-validation-for="AccommodationType" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BoardType" class="control-label"></label>
                    <input asp-for="BoardType" class="form-control" />
                    <span asp-validation-for="BoardType" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Breakfast" class="control-label"></label>
                    <input asp-for="Breakfast" class="form-control" />
                    <span asp-validation-for="Breakfast" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Lunch" class="control-label"></label>
                    <input asp-for="Lunch" class="form-control" />
                    <span asp-validation-for="Lunch" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Dinner" class="control-label"></label>
                    <input asp-for="Dinner" class="form-control" />
                    <span asp-validation-for="Dinner" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="InsertDateTime" class="control-label"></label>
                    <input asp-for="InsertDateTime" class="form-control" />
                    <span asp-validation-for="InsertDateTime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UpdateDateTime" class="control-label"></label>
                    <input asp-for="UpdateDateTime" class="form-control" />
                    <span asp-validation-for="UpdateDateTime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>*@

<div>
    <a asp-action="Index">Back to List</a>
</div>

