@*@model Tuple<Rezervation, Guest, Payment>*@
@model RezGuePayVModel

@{
    ViewData["Title"] = "Create";
}

<div class="row">
        <form method="post" asp-action="Create">
            <div class="col-md-2">
                <label asp-for="Rezervations.Arrivaldate">Geliş Zamanı :</label>
                <input asp-for="Rezervations.Arrivaldate" /> <br />

                <label asp-for="Rezervations.DepartureDate">Çıkış Zamanı :</label>
                <input asp-for="Rezervations.DepartureDate" /> <br />

                <label asp-for="Rezervations.RoomNo">Oda Numarası :</label>
                <input asp-for="Rezervations.RoomNo" /> <br />
            </div>
            <div class="col-md-2">
                <label asp-for="Guests.Name">Adı :</label>
                <input asp-for="Guests.Name" /> <br />
                <label asp-for="Guests.SurName">Soyadı :</label>
                <input asp-for="Guests.SurName" /><br />
                <label asp-for="Guests.Phone">Telefonu :</label>
                <input asp-for="Guests.Phone" /><br />
                <label asp-for="Guests.Email">Email :</label>
                <input asp-for="Guests.Email" /><br />
                <label asp-for="Guests.RezervationNote">Rezervasyon Notu :</label>
                <input asp-for="Guests.RezervationNote" /><br />
            </div>
            <div class="col-md-2">
                <label asp-for="Payments.TotalPrice">Toplam Tutar :</label>
                <input asp-for="Payments.TotalPrice" /><br />
            </div>
            <div class="col-md-4 text-center">
                <button class="btn btn-success btn-lg" type="submit">Submit</button>
            </div>
        </form>
    </div>

@*<div class="row">
    <form method="post" asp-action="Create">
        <div class="col-md-2">
            <label asp-for="@Model.Item1.Arrivaldate">Geliş Zamanı :</label>
            <input asp-for="@Model.Item1.Arrivaldate" /> <br />

            <label asp-for="@Model.Item1.DepartureDate">Çıkış Zamanı :</label>
            <input asp-for="@Model.Item1.DepartureDate" /> <br />

            <label asp-for="@Model.Item1.RoomNo">Oda Numarası :</label>
            <input asp-for="@Model.Item1.RoomNo" /> <br />
        </div>
        <div class="col-md-2">
            <label asp-for="@Model.Item2.Name">Adı :</label>
            <input asp-for="@Model.Item2.Name" /> <br />
            <label asp-for="@Model.Item2.SurName">Soyadı :</label>
            <input asp-for="@Model.Item2.SurName" /><br />
            <label asp-for="@Model.Item2.Phone">Telefonu :</label>
            <input asp-for="@Model.Item2.Phone" /><br />
            <label asp-for="@Model.Item2.Email">Email :</label>
            <input asp-for="@Model.Item2.Email" /><br />
            <label asp-for="@Model.Item2.RezervationNote">Rezervasyon Notu :</label>
            <input asp-for="@Model.Item2.RezervationNote" /><br />
        </div>
        <div class="col-md-2">
            <label asp-for="@Model.Item3.TotalPrice">Toplam Tutar :</label>
            <input asp-for="@Model.Item3.TotalPrice" /><br />
        </div>
        <div class="col-md-4 text-center">
            <button class="btn btn-success btn-lg" type="submit">Submit</button>
        </div>
    </form>
</div>*@

<div>
    <a asp-action="Index">Back to List</a>
</div>