@model IEnumerable<Rezervation>

@{
    ViewData["Title"] = "List";
}

<h2>List</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                Rezervation No
            </th>
            <th>
                Name
            </th>
            <th>
                Surname
            </th>
            <th>
                Arrivaldate
            </th>
            <th>
                DepartureDate
            </th>
            <th>
                Room No
            </th>
            <th>
                Total Price
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>


        <tr>
            @foreach (var item in Model)
            {
                <td>
                    @item.Id
                </td>
                @foreach (var guest in item.Guests)
                {
                    <td>
                        @guest.Name
                    </td>
                    <td>
                        @guest.SurName
                    </td>
                }
                <td>
                    @item.Arrivaldate
                </td>
                <td>
                    @item.DepartureDate
                </td>
                <td>
                    @item.RoomNo
                </td>
                @foreach (var payment in item.Payments)
                {
                    <td>
                        @payment.TotalPrice
                    </td>
                }
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            }
        </tr>
       
    </tbody>
</table>
