@model IEnumerable<Payment>

@{
    ViewData["Title"] = "List";
}

<h3>List</h3>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-bordered table-striped table-hover text-center">
    <thead class="bg-primary">
        <tr>
            <th>
                No
            </th>
            <th>
                Arrivaldate
            </th>
            <th>
                DepartureDate
            </th>
            <th>
                Name
            </th>
            <th>
                Surname
            </th>
            <th>
                Phone
            </th>
            <th>
                Email
            </th>
            <th>
                RoomNo
            </th>
            <th>
                Rezervation Note
            </th>
            <th>
                Total Price
            </th>
            <th>
                Create Time
            </th>
            <th>
                Update Time
            </th>
            <th>
                Guest seq
            </th>
            @*<th></th>*@
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @item.Guest.Rezervation.Id
            </td>
            <td>
                @item.Guest.Rezervation.Arrivaldate.Value.ToShortDateString()
            </td>
            <td>
                @item.Guest.Rezervation.DepartureDate.Value.ToShortDateString()
            </td>
            <td>
                @item.Guest.Name
            </td>
            <td>
                @item.Guest.SurName
            </td>
            <td>
                @item.Guest.Phone
            </td>
            <td>
                @item.Guest.Email
            </td>
            <td>
                @item.Guest.Rezervation.RoomNo
            </td>
            <td>
                @item.Guest.RezervationNote
            </td>
            <td>
                @item.TotalPrice.ToString("C")
            </td>
            <td>
                @item.Guest.Rezervation.InsertDateTime
            </td>
            <td>
                @item.Guest.Rezervation.UpdateDateTime
            </td>
            <td>
                @item.Guest.GuestSequenceNo
            </td>

            @*<td>
            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </td>*@
        </tr>
        }
    </tbody>
</table>
