@model IEnumerable<Rezervation>

@{
    ViewData["Title"] = "List";
}

<h3>List</h3>

<p>
    <a asp-action="Create" class="btn btn-success btn-sm">Create New</a>
</p>
<table class="table table-bordered table-striped table-hover text-center">
    <thead class="bg-primary">
        <tr>
            <th>
                No
            </th>
            <th>
                Arrivaldate
            </th>
            <th>
                DepartureDate
            </th>
            <th>
                Name
            </th>
            <th>
                Surname
            </th>
            <th>
                Phone
            </th>
            <th>
                Email
            </th>
            <th>
                RoomNo
            </th>
            <th>
                Rezervation Note
            </th>
            <th>
                Guest seq
            </th>
            <th>
                Total Price
            </th>
            <th>
                Create Time
            </th>
            <th>
                Update Time
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @item.Id
            </td>
            <td>
                @item.Arrivaldate.ToShortDateString()
            </td>
            <td>
                @item.DepartureDate.ToShortDateString()
            </td>
            @foreach (var guest in item.Guests)
            {
                <td>
                    @guest.Name
                </td>
                <td>
                    @guest.SurName
                </td>
                <td>
                    @guest.Phone
                </td>
                <td>
                    @guest.Email
                </td>
                <td>
                    @guest.Rezervation.RoomNo
                </td>
                <td>
                    @guest.RezervationNote
                </td>
                <td>
                    @guest.GuestSequenceNo
                </td>
            }
            @foreach (var payment in item.Payments)
            {
                <td>
                    @payment.TotalPrice.ToString("C")
                </td>
            }
            <td>
                @item.InsertDateTime
            </td>
            <td>
                @item.UpdateDateTime
            </td>


            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-info btn-xs">Edit</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-xs">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
<a asp-action="Index">Back to Index</a>
